:root {
  --definition-bg: #eaf4d3;
  --demonstration-bg: #ff836080;
  --myexample-bg: #b3b3b3;
  --mynote-bg: #bfb48f;
  --min-width-img: 10rem;
  --code-bg: #f8f3f3;
}

.content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;

  gap: 16px;
}

.environment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;

  border-radius: 1rem;
  padding: 1.2rem;
  -webkit-box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.1);
  margin-block: 16px;
  line-height: 2;
  letter-spacing: 1px;
}

.code-inline {
  display: inline;
  background-color: var(--code-bg);
  letter-spacing: 1px;
  border-radius: 6px;
  font-size: 0.75em;
  padding: 5px;
}

.overline {
  padding-top: 0.3em;
  border-top: 1.5px solid;
  line-height: 1em;
}

.code-block {
  display: block;
  background-color: var(--code-bg);
  letter-spacing: 1px;
  border-radius: 1rem;
  font-size: 0.75em;
  
  -webkit-box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.1);
  
          box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.1);;
  width: 100%;
  overflow-x: auto;
  margin-block: 6px;
  padding: 5px;
}

.environment-title {
  font-size: 1rem;
  font-weight: 600;
  text-align: start;
}

.environment-body {
  font-size: 0.8rem;
  text-align: justify;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.environment-tail {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  font-size: 32px;
}

.definition {
  background-color: var(--definition-bg);
}

.demonstration {
  background-color: var(--demonstration-bg);
}

.myexample {
  background-color: var(--myexample-bg);
}

.collapsed {
  display: none;
}

.mynote {
  background-color: var(--mynote-bg);
}

.list-container {
  margin-block: 6px;
}

.inner-title {
  display: block;
  font-size: 1.1em;
  text-decoration: underline;
  font-weight: 600;
  margin-block: 0.1em;
}

.center {
  margin-block: 6px;

  text-align: center;

  overflow-x: auto;
}

.mono {
  font-family: monospace;
  letter-spacing: 1px;
  white-space: nowrap;
}


.image-environment,
.image-wrapper {
  margin-block: 6px;
  display: -ms-grid;
  display: grid;
  place-items: center center;
}

.image-wrapper.spaced-15 {
  max-width: max(15%, var(--min-width-img));
}
.image-wrapper.spaced-20 {
  max-width: max(20%, var(--min-width-img));
}
.image-wrapper.spaced-25 {
  max-width: max(25%, var(--min-width-img));
}
.image-wrapper.spaced-30 {
  max-width: max(30%, var(--min-width-img));
}
.image-wrapper.spaced-35 {
  max-width: max(35%, var(--min-width-img));
}
.image-wrapper.spaced-40 {
  max-width: max(40%, var(--min-width-img));
}
.image-wrapper.spaced-50 {
  max-width: max(50%, var(--min-width-img));
}
.image-wrapper.spaced-60 {
  max-width: max(60%, var(--min-width-img));
}
.image-wrapper.spaced-70 {
  max-width: max(70%, var(--min-width-img));
}
.image-wrapper.spaced-75 {
  max-width: max(75%, var(--min-width-img));
}
.image-wrapper.spaced-80 {
  max-width: max(80%, var(--min-width-img));
}

.image-wrapper.spaced-85 {
  max-width: max(85%, var(--min-width-img));
}
.image-wrapper.spaced-90 {
  max-width: max(90%, var(--min-width-img));
}

.image-wrapper img {
  width: 100%;
}

.hyde {
  display: none;
}

.body-visibility-icon {
  vertical-align: middle;
  margin-inline: 0.5em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;

  -webkit-transition: background-color 500ms;

  -o-transition: background-color 500ms;

  transition: background-color 500ms;
  padding: 4px;
  border-radius: 50%;
}

.body-visibility-icon:hover {
  background-color: rgba(211, 211, 211, 0.5);
}

.math-block {
  max-width: 100%;
  display: block;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}